.container {
      width: 1400px;
      max-width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 0 20px;
}

.service {
      &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            color: #333333;
            margin-top: 60px;
      }

      &__blok {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
            grid-gap: 35px;
            margin-top: 40px;
            margin-bottom: 40px;
      }

      &__card {
            max-width: 540px;
            background: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.1);
            border-radius: 9px;
            padding: 40px 0 0 48px;

            &:hover {
                  background: #FFFFFF;
                  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
                  border-radius: 5px;
            }

            &:active {
                  background: #FFFFFF;
                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
                  border-radius: 5px;
            }
      }

      &__subtitle {
            width: 200px;
            max-width: 100%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            color: #333333;
      }

      &__paragrif {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            margin-top: 10px;
      }

      &__in-flex {
            width: 100%;
            display: flex;
            // align-items: center;
            justify-content: space-between;
            padding: 40px;
      }

      &__strong {
            font-family: 'Montserrat';
            font-size: 80px;
            line-height: 98px;
            text-align: right;
            color: #2B2B2B;
            opacity: 0.1;
            display: flex;
            justify-content: flex-end;
            // margin-right: 16px;
            margin-top: 54px;
      }

      &__right,
      &__left {
            max-width: 425px;
      }

      &__in-right {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            &:last-child {
                  margin-bottom: 0;
            }
      }

      &__right-img {
            margin-right: 15px;
      }

      &__para {
            max-width: 376px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 146.28%;
            color: #2B2B2B;
      }

      &__title-4 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #2B2B2B;
            margin-bottom: 5px;
      }

      &__red-text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #EF4744;
      }

      &__right-num {
            position: absolute;
            bottom: 0;
            right: 20px;
      }

      &__link {
            display: none !important;
            width: 200px;
            height: 48px;
            border: 1px solid #4F4F4F;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #333333;
            margin-top: 50px;
      }

      &__number {
            display: none;
            display: flex;
            align-items: center;
            // padding-top: 100px;
            gap: 34px;
      }

      &__usligi {
            width: 1110px;
            max-width: 100%;
            background: #FFFFFF;
            box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.1);
            border-radius: 9px;
            margin: auto;
            // padding: 10px;
            position: relative;
            margin-bottom: 48px;

            &:hover {
                  background: #FFFFFF;
                  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
                  border-radius: 5px;
            }

            &:active {
                  background: #FFFFFF;
                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
                  border-radius: 5px;
            }
      }


      &__paragrif2 {
            max-width: 426px;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            margin-top: 24px;
      }

      &__links {
            width: 200px;
            height: 48px;
            border: 1px solid #4F4F4F;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #333333;
            margin-top: 30px;
      }
}


@media (max-width: 865px) {

      .service {

            &__blok {
                  grid-gap: 20px;
                  padding: 20px;
            }

            &__card {
                  position: relative;
                  padding: 24px;
            }



            &__in-flex {
                  flex-direction: column;
                  margin-top: -24px;

            }

            &__left {
                  margin-bottom: 30px;
            }



      }


}


@media (max-width: 670px) {

      .service {
            &__blok {
                  grid-template-columns: auto;
            }

            &__in-right {
                  flex-direction: column;
                  text-align: left;
            }

            &__right-img {
                  margin-left: -170px;
                  margin-bottom: 10px;
            }

            &__link {
                  position: absolute;
                  right: 20px;
                  display: inline-block !important;
                  display: flex;
                  padding: 17px 25px;
            }

      }

}





.service {

      &__item {
            display: flex;
            gap: 30px;
            justify-content: center;
            margin-bottom: 80px;
      }

      &__list {

            &-blok {
                  display: flex;
                  align-items: center;
                  justify-content: center;
            }

            &-paragrif {
                  width: 180px;
                  font-family: 'Montserrat';
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 22px;
                  text-align: center;
                  color: #333333;
                  margin-top: 16px;
            }

      }

      &__h4 {
            max-width: 100%;
            font-family: 'Montserrat';
            font-weight: 300;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            color: #333333;

            &-span {
                  color: #EB5757;
            }
      }

}


@media (max-width: 865px) {
      .service {
            &__item {
                  display: flex;
                  flex-wrap: wrap;
                  margin-bottom: 40px;
            }
      }
}


@media (max-width:670px) {
      .service {
            &__item {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 10px;
            }

      }

}